* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #222;
}

.logo {
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    color:#00adb5
}

.home {
    height: 90vh;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home span{
    color: #ffdd59;
}

.btn {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #ffdd59;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

section {
    padding: 60px 80px;
    text-align: center;
}

.about, .skills, .projects, .contact{
    background-color: #f5f5f5;
    margin-top: 10px;
}

.skill-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.skill-box div {
    padding: 15px 25px;
    background-color: #00adb5;
    color: white;
    border-radius: 5px;
}

.project-box {
    display: flex;
    justify-content: center;
    gap:20px;
    margin-top: 30px;
}
.project-card{
    background-color: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}